<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
{% if site.remote_theme contains 'midnight' %}
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
{% elsif site.remote_theme contains 'dinky' %}
  <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
{% elsif site.remote_theme contains 'time-machine' %}
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
{% elsif site.remote_theme contains 'cayman' %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{% endif %}
    
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include head-custom.html %}
</head>